<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  
      <ion-title>
          <b>Confirmar do Pagamento</b>
        </ion-title>
  
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

    <div class="svg-pay">
        <img src="../../../assets/pay.svg" width="100%">
    </div>

    <div>
        <ion-item button>
            <ion-icon slot="start" name="logo-google-playstore"></ion-icon>
            <ion-label> Play Store </ion-label>
        </ion-item>

        <ion-item button routerLink="/informar-dados">
            <ion-icon slot="start" name="card"></ion-icon>
            <ion-label> Visa </ion-label>
        </ion-item>

        <ion-item button routerLink="/informar-dados">
            <ion-icon slot="start" name="copy"></ion-icon>
            <ion-label> MasterCard </ion-label>
        </ion-item>
      </div>
  </ion-content>
  