// IMAGEM DE CIMA
img.svg-play
{
    width: 100%;   
}
.img_center
{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    width: 80%;
}
.login-title
{
    text-align: center;
    
    font-size: 18pt;
    font-weight: bold;
    color: green;

    margin-bottom: 20px;
}

// CAMPOS DO FORMULÁRIO


// BOTÕES
.btn_login
{
    --background: green;
    --color: #fff;

    --border-radius: 0;
}
.btn_nav_cadastro
{
    --color: green;
    --border-color: green;

    --border-radius: 0;
}
.esqueci
{
    color: #92949c;
    font-weight: bold;
    font-size: 14pt;

    text-align: center;

    margin-bottom: 0;
    margin-top: 90px;
}