<ion-header>
  <ion-toolbar>
    <ion-title>Detalhes do Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../../assets/pc-1.png" width="50%" height="100px">
  <h1 class="nome-prod">Nome do Produdo</h1>

  <p class="sub-nome-prod">RTX 9080, 64 RAM, celeron 2000R7</p>

  <p>
    <ion-text>
      Preço: 
    </ion-text> <b>R$ 3.999,00</b>
  </p>

  <hr style="color: black;">

  <img src="../../../assets/pc-1.png" width="50%" height="100px">
  <h1 class="nome-prod">Nome do Produdo 2</h1>

  <p class="sub-nome-prod">Xcho GTX 2080</p>

  <p>
    <ion-text>
      Preço: 
    </ion-text> <b>R$ 5.999,00</b>
  </p>
</ion-content>

