<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Dados do Pagamento</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div>

    <!-- NOME CARTÃO -->
    <div class="label div_h_center">
      <ion-label class="cinzeiro">
        Nome do Cartão:
    </ion-label>
    </div>
    <ion-card class="nome-cartao card_input">
      <ion-input 
        type="text" 
        placeholder="Nome do cartão">
      </ion-input>
    </ion-card>

    <!-- CPF -->
    <div class="label div_h_center">
      <ion-label class="cinzeiro">
        CPF:
    </ion-label>
    </div>
    <ion-card class="cpf card_input">
      <ion-input 
        type="text" 
        placeholder="CPF do Titular"
        inputmode="decimal"
        maxlength="13">
      </ion-input>
    </ion-card>

    <!-- NUMERO CARTÃO -->
    <div class="label div_h_center">
      <ion-label class="cinzeiro">
        Número do Cartão:
    </ion-label>
    </div>
    <ion-card class="numero-cartao card_input">
      <ion-input 
        type="text" 
        placeholder="Número o cartão"
        maxlegth="19"
        inputmode="numeric">
      </ion-input>
    </ion-card>

    <!-- CODIGO SEGURANÇA -->
    <div class="label div_h_center">
      <ion-label class="cinzeiro">
        Código de Segurança:
    </ion-label>
    </div>
    <ion-card class="codigo card_input">
      <ion-input 
        type="text" 
        placeholder="Código de segurança"
        maxlegth="3"
        inputmode="numeric">
      </ion-input>
    </ion-card>

    <!-- DATA DE VANCIMENTO -->
    <div class="label div_h_center">
      <ion-label class="cinzeiro">
        Data de Vencimento:
    </ion-label>
    </div>
    <ion-card class="data-vencimento card_input">
      <ion-input 
        type="text" 
        placeholder="Data de Vencimento"
        inputmode="numeric">
      </ion-input>
    </ion-card>

    <!-- PARCELAS -->
    <div class="label div_h_center">
      <ion-label class="cinzeiro">
        Parcelas:
    </ion-label>
    </div>
    <ion-card class="parcelas card_input"> 
        <ion-select interface="alert" placeholder="Parcelas à pagar" 
        class="custom-options" [interfaceOptions]="alert">
          <ion-select-option value="vista">À Vista</ion-select-option>
          <ion-select-option value="2x">2x</ion-select-option>
          <ion-select-option value="3x">3x</ion-select-option>
          <ion-select-option value="4x">4x</ion-select-option>
          <ion-select-option value="5x">5x</ion-select-option>
        </ion-select>
    </ion-card>

    <ion-button expand="block" class="bg-green pagar" routerLink="/tabs/tab-compras">
      PAGAR
    </ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-button (click)="abrirPopover()" class="title-detalhes" expand="block" fill="clear">
      <b> Detalhes do Pedido </b>
      <ion-icon name="information-circle"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-footer>
