<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Dados do Pagamento</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card class="nome-cartao">
      
    </ion-card>

    <ion-card class="cpf">
      
    </ion-card>

    <ion-card class="numero cartao">
      
    </ion-card>

    <ion-card class="data-vencimento">
      
    </ion-card>

    <ion-card class="codigo">
      
    </ion-card>

    <ion-card class="parcelas"> 
      
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title> 
       <b>
        Detalhes do Pedido
       </b>
     </ion-title>
  </ion-toolbar>
</ion-footer>
