ion-title{
    --color: #92949c;
    font-size: 20px !important;
    font-weight: bold !important;
}
// FORMULARIO
ion-card{
    border: 1px solid;
    border-color: #fff;
    

    margin-top: 20px;

    --color: #fff;
    background: transparent;
}
ion-input, ion-select{
    height: 50px;
}

.bg-green{
    --background: green;
}
.pagar{
    margin-top: 20px;
}