ion-title{
    --color: #92949c;
    font-size: 20px !important;
    font-weight: bold !important;
}

.bg-green{
    --background: green;
}
.pagar{
    margin-top: 20px;
    --border-radius: 0;
}
.title-detalhes{
    // text-transform: capitalize;
    font-weight: bold;
    ion-icon{
        color: #fff;
        font-size: 25px;
        margin-left: 20px;
    }
}
.title-detalhes b{
    color: #fff !important;
}