ion-title{
    --color: #92949c;
    font-size: 20px !important;
    font-weight: bold !important;
}
// FORMULARIO
ion-card{
    border: 1px solid;
    border-color: #fff;
    border-radius: 0;    

    margin-top: 20px;

    --color: #fff;
    background: transparent;
}
ion-input, ion-select{
    height: 50px;
}

.bg-green{
    --background: green;
}
.pagar{
    margin-top: 20px;
    --border-radius: 0;
}
.title-detalhes{
    // text-transform: capitalize;
    font-weight: bold;
    ion-icon{
        color: #fff;
        font-size: 25px;
        margin-left: 20px;
    }
}
.title-detalhes b{
    color: #fff !important;
}