ion-title{
    --color: #92949c;
    text-align: center;
    font-weight: bold;
}
.green{
    --background: green;
}
.produto{
    border-radius: 0;
}
.produto-content{
    padding: 10px;
}
.cinzinha{
    color: #92949c;
}
.img-produto{
    background-color: #626469;
}
.img-p-silde{
    height: 120px;
    background-color: #626469;
    border-radius: 50%;
    padding: 20px;
}
.title-slide{
    color: #000;
    font-weight: bold;
    margin-left: 20px;
}