ion-title{
    --color: #92949c;
    text-align: center;
    font-weight: bold;
}
.green{
    --background: green;
}
.produto{
    border-radius: 0;
}
.produto-content{
    padding: 10px;
}
.cinzinha{
    color: #92949c;
}
// .img-produto{

// }