<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="ft"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        Inicio
    </ion-title>
    <ion-buttons slot="end">
        <ion-button routerLink="/carrinho">
          <b><ion-icon slot="end" name="cart-outline"></ion-icon></b>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h2 class="title-slide">Mais vendidos</h2>
  <ion-slides [options]="opt" >
    <ion-slide>
      <div class="img-p-silde">
        <img src="../../../assets/pc-1.png" height="250" width="100%">
      </div>
    </ion-slide>
    <ion-slide>
      <div class="img-p-silde">
        <img src="../../../assets/pc-1.png" height="250" width="100%">
      </div>
    </ion-slide>
    <ion-slide>
      <div class="img-p-silde">
        <img src="../../../assets/pc-1.png" height="250" width="100%">
      </div>
    </ion-slide>
    <ion-slide>
      <div class="img-p-silde">
        <img src="../../../assets/pc-1.png" height="250" width="100%">
      </div>
    </ion-slide>
  </ion-slides>

  <h2 class="title-slide">Ofertas</h2>

  <ion-card color="dark" class="produto">
    <div class="img-produto">
      <img src="../../../assets/pc-1.png" height="250" width="100%"
      routerLink="/tabs/tab1/produto">
    </div>
      
    <ion-card-content class="produto-content">
      <ion-card-title>
        Pocadão - RTX 9080, 64 RAM, celeron 2000R7
      </ion-card-title><br>
      
        <ion-row>
          <ion-col size="6">

            <b>R$ 3.999,00</b><br>
            <small class="cinzinha">
              <b>10x de 499,00</b>
            </small>

          </ion-col>
          <ion-col size="2">
            <ion-icon name="cart" class="cinzinha" style="font-size: 25px;"></ion-icon>
          </ion-col>
          <ion-col size="2">
            <ion-icon name="heart" class="cinzinha" style="font-size: 25px;"></ion-icon>
          </ion-col>
          <ion-col size="2">
            <ion-icon name="share-social" class="cinzinha" style="font-size: 25px;"></ion-icon>
          </ion-col>
        </ion-row>
      
    </ion-card-content>
    <ion-button expand="block" class="green">
      comprar
    </ion-button>
  </ion-card>
  
</ion-content>