ion-title{
    --color: #92949c;
    text-align: center;
    font-weight: bold;
}
ion-searchbar{
    --background: #000;
    --color: green;
    --cancel-button-color: green;
    font-weight: bold;
}
.img-center{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 50%;
}
.text-center{
    text-align: center;
}
.verde{
    --icon-color: green;
}