<ion-header>
  <ion-toolbar>
    <ion-searchbar placeholder="gabinete, placas..." (ionChange)="onSearchChange($event)" #search class="verde"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <!-- MESSAGEM QUE INDICA A FUNÇÃO DA PÁGINA -->
  <div class="img-center">

    <ion-icon slot="start" name="search"></ion-icon>

    <h3 class="text-center">Procure pelo PC gamer dos seus sonhos</h3>
  </div>

  <!-- DIV DE DADOS CASO O USUARIO PROCURE UM PRODUTO -->
  <!-- <div>
    <ion-item class="src-item" lines="none">
      <ion-thumbnail slot="start">
        <img src="https://images.pexels.com/photos/3587478/pexels-photo-3587478.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
      </ion-thumbnail>

      <label>
        <h3>
          Achei
        </h3> 
      </label>
      
    </ion-item>
  </div> -->
  
</ion-content>
