ion-title{
    --color: #92949c;
    font-weight: bold;
    text-align: center;
}
.item-menu{
    --background: #92949c;
    font-weight: bold;
    font-size: 14pt;
}
p.sub-item{
    margin-left: 20px;
    font-weight: 600;
}