<ion-split-pane contentId="menu-content">
  <ion-menu contentId="menu-content" menuId="ft" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>Categorias</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>

        <ion-menu-toggle auto-hide="false" menu="ft">
          <ion-item button class="item-menu" lines="none">
              Gabinetes
          </ion-item>

          <ion-item button class="sub-item" lines="none">
            <p> - G-fire</p>
          </ion-item>

          <ion-item button class="item-menu" lines="none">
            Placas de Video
          </ion-item>

          <ion-item button class="item-menu" lines="none">
            Discos Rígido
          </ion-item>

          <ion-item button class="item-menu" lines="none">
            Notebooks
          </ion-item>

          <ion-item button class="item-menu" lines="none">
            Headsets
          </ion-item>

          <ion-item button class="item-menu" lines="none">
            Teclados
          </ion-item>

          <ion-item button class="item-menu" lines="none">
            Caixas de Som
          </ion-item>

          <ion-item button class="item-menu" lines="none">
            Mouses
          </ion-item>

          <ion-item button class="item-menu" lines="none">
            Web can
          </ion-item>
          
        </ion-menu-toggle>
      
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-split-pane>

<ion-fab horizontal="end" vertical="bottom">
  <ion-fab-button id="fab-inico" color="light" routerLink="/lista-desejos">
    <ion-icon name="heart"></ion-icon>
  </ion-fab-button>
</ion-fab>