<ion-split-pane contentId="menu-content">
  <ion-menu contentId="menu-content" menuId="ft" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>Categorias</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>

        <ion-menu-toggle auto-hide="false" menu="ft">
          <ion-item button class="item-menu">
            <ion-label>
              Gabinetes
            </ion-label>
          </ion-item>

        </ion-menu-toggle>
      
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-split-pane>
