<ion-content>
  <div class="nome-com-icone">
    
    <div class="icone">
    <ion-avatar>
        <img src="https://instagram.fssa7-1.fna.fbcdn.net/v/t51.2885-15/e35/81227219_2245372302423643_1837338915438276816_n.jpg?tp=1&_nc_ht=instagram.fssa7-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=IO1Pm_EWM_8AX_yuZ94&ccb=7-4&oh=90f4ee388116a146b36167903e7711c6&oe=60892C69&_nc_sid=4f375e" />
    </ion-avatar>
    </div>

    <h1 class="nome">Nome do Usuario</h1>
  </div>

  <ion-item>
    <ion-col size="5">
    </ion-col>

        <ion-button class="btn-logout" expand="full" fill="clear">
          Sair
        </ion-button>

    <ion-col size="5">
    </ion-col>
  </ion-item>
      

  <h6 style="margin-left: 20px;">Informações de Usuario</h6>

  <ion-item button (click)="mudarEmail()">
      <ion-label>Email: <b>geo@hotmail.com</b> </ion-label>
      <ion-icon slot="end" name="create"></ion-icon>
  </ion-item>

  <ion-item button (click)="mudarSenha()">
    <ion-label> Senha: <b> *********** </b> </ion-label>
    <ion-icon slot="end" name="create"></ion-icon>
  </ion-item>

  <ion-item button (click)="mudarChave()">
    <ion-label> Chave de dois Fatores: <b>2384fa69273fbj2389e</b> </ion-label>
    <ion-icon slot="end" name="create"></ion-icon>
  </ion-item>

  <h6 style="margin-left: 20px;">Notificções</h6>

  <ion-item button (click)="notfPreferencias()">
    <ion-label>Preferências</ion-label>
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-item>

  <ion-item button (click)="notffrequencia()">
    <ion-label>Frequência</ion-label>
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-item>

  <h6 style="margin-left: 20px;">Suporte</h6>

  <ion-item button (click)="supAjuda()">
    <ion-label>Ajuda</ion-label>
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-item>

  <ion-item button (click)="supFeedback()">
    <ion-label>Feedback</ion-label>
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-item>

  <ion-item button (click)="supTermos()">
    <ion-label>Termos de Serviço</ion-label>
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-item>

  <ion-item button (click)="supPrivacidade()">
    <ion-label>Privacidade</ion-label>
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-item>

</ion-content>
