<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title slot="start">Carrinho - <b class="qtItens">4 Itens</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="row-cart">

    <ion-col size="6">

      <ion-card class="item-carrinho">

        <img src="https://images.pexels.com/photos/3587478/pexels-photo-3587478.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" height="120" width="100%" 
        routerLink="/tabs/tab1/produto">

        <ion-card-content class="item-content">
          <p>
            Nome Produto
          </p>
          <h2>
            3.599,00
          </h2>
          
        </ion-card-content>

        <ion-card-footer>

          <ion-col size="4">
            <ion-button class="black" fill="clear" shape="round" expand="small">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-col>

          <ion-col size="4">
            <b class="black" style="text-align: center;"> 6 </b>
          </ion-col>

          <ion-col size="4">
            <ion-button class="black" fill="clear" shape="round" expand="small">
              <ion-icon name="remove"></ion-icon>
            </ion-button>
          </ion-col>
          
        </ion-card-footer>
      </ion-card>

    </ion-col>
  </ion-row>
  
</ion-content>

<ion-footer>
  <ion-toolbar>

    <ion-row>
      <ion-col size="4">
        <ion-button expand="block" class="green">
          Comprar
        </ion-button>
      </ion-col>

      <ion-col size="8">
        <div class="label-foot">
           Total a Pagar: <b class="green"> R$ 50,899,00 </b>
        </div>
      </ion-col>
    </ion-row>
    
  </ion-toolbar>
</ion-footer>
