<ion-header>
  <ion-toolbar>
    <ion-title>Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- SEÇÃO DE COMPRAS -->
  <div class="compra">

    <ion-row>

      <ion-col size="4">
        <ion-thumbnail>
          <img src="../../assets/pc-1.png" />
        </ion-thumbnail>
      </ion-col>

      <ion-col size="8">
        <h1>Nome de Produto</h1>

        <p>
          Data de compra: <b>sexta-feira, 09/04/2021</b>
        </p>

        <p>
          Status: <b> À confirmar </b>
        </p>

        <p>
          Localização do produto: <b> Morgi Mirim, SP </b>
        </p>

        <p>
          Data estimada de entrega: <b>sexta-feira, 23/04/2021 (ou antes)</b>
        </p>
      </ion-col>
    </ion-row>

    <ion-button color="danger">
      cancelar pedido
    </ion-button>
  </div>
</ion-content>
