<ion-header>
  <ion-toolbar>
    
    <ion-title mode="ios">Compras</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/carrinho">
        <b><ion-icon slot="end" name="cart-outline"></ion-icon></b>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- SEÇÃO DE COMPRAS -->
  <div class="compra">

    <ion-row>

      <!-- IMAGEM DO PRODUTO -->
      <ion-col size="4">
        <ion-thumbnail>
          <img src="../../assets/pc-1.png" />
        </ion-thumbnail>
      </ion-col>
      
      <!-- DADOS DO PRODUTO -->
      <ion-col size="8">
        <h1 class="prod-name-compra">Nome de Produto</h1>
        <p class="detalhes-prod-compras">
          RTX 9080, 64 RAM, celeron 2000R7
        </p>
      </ion-col>

      <p>
        <ion-text>
          Data de compra: 
        </ion-text> <b>sexta-feira, 09/04/2021</b>
      </p>

      <p>
        <ion-text>
          Status:
        </ion-text> <b> À confirmar </b>
      </p>

      <p>
        <ion-text>
          Localização do produto:
        </ion-text> <b> Morgi Mirim, SP </b>
      </p>

      <p>
        <ion-text>
          Data estimada de entrega: 
        </ion-text> <b>sexta-feira, 23/04/2021 (ou antes)</b>
      </p>
    </ion-row>

    <!-- BOTÃO DE CANCELAR -->
    <ion-button color="medium" fill="clear">
      <b> cancelar pedido </b>
    </ion-button>
  </div>

  <hr style="background-color: rgb(78, 78, 78);">
</ion-content>
