/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// FORMATOS PERSONALIZADOS
ion-content{
    --background: #000;
}
ion-toolbar{
    --background: #000;
    --color: green;
}
.icon-carrinho{
    --color: green;
    font-weight: bold;  
}
ion-title{
    --color: green !important;
}

// ALERTAS
.alerta h2{
    color: #fff !important;
}
.alerta .alert-wrapper{
    background: #000;
    button{
        color: green;
    }
    --color-checked: green !important;
}
.alerta .select-interface-option .alert-radio-label{
    color: #fff !important;
}

// CLASSES BÁSICAS DE PROCESSO
.div_h_center{
    margin-right: auto;
    margin-left: auto;
}
.cinzeiro{
    color: #626469 !important;
    --color: #626469;
}

// CAMPOS DO FORMULÁRIO
ion-input, ion-select
{
    height: 50px;
    font-size: 12pt;
}
ion-card.card_input
{
    border: 1px solid;
    border-color: #fff;
    border-radius: 0;    

    --color: #000;
}
.label
{
    width: 95.4%;
    margin-bottom: -8px;
}
ion-label
{
    color: #fff;
}
hr
{
    background-color: rgb(78, 78, 78);
    margin-top: 15px;
    margin-bottom: 10px;
}