.item-desejo{
    --background: #000;
    font-weight: bold;
}
ion-item ion-label{
    --color: #fff;
}
ion-item ion-label h3{
    font-size: 14pt;
}
ion-button{
    --color: #626469;
}
ion-thumbnail{
    --size: 4;
}