<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title><b>Lista de Desejos</b></ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item class="item-desejo">
    <ion-thumbnail slot="start" routerLink="/tabs/tab1/produto">
      <img src="../../../assets/pc-1.png" />
    </ion-thumbnail>
    <ion-label>
      <h3 routerLink="/tabs/tab1/produto"> 
        Razer 
      </h3>
      <b> R$ 3.999,00 </b>
    </ion-label>

    <ion-button expand="small" shape="round" fill="clear" slot="end">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item class="item-desejo">
    <ion-thumbnail slot="start">
      <img src="https://images.pexels.com/photos/3861972/pexels-photo-3861972.jpeg?cs=srgb&dl=pexels-thisisengineering-3861972.jpg&fm=jpg" />
    </ion-thumbnail>
    <ion-label>
      <h3>
        Rocket
      </h3>
      <b> R$ 1.999,00 </b>
    </ion-label>

    <ion-button expand="small" shape="round" fill="clear" slot="end">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item class="item-desejo">
    <ion-thumbnail slot="start">
      <img src="https://images.pexels.com/photos/2058128/pexels-photo-2058128.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
    </ion-thumbnail>
    <ion-label>
      <h3>
        Blob
      </h3>
      <b> R$ 499,99 </b>
    </ion-label>

    <ion-button expand="small" shape="round" fill="clear" slot="end">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item class="item-desejo">
    <ion-thumbnail slot="start">
      <img src="https://images.pexels.com/photos/3587478/pexels-photo-3587478.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
    </ion-thumbnail>
    <ion-label>
      <h3>
        Vant
      </h3>
      <b> R$ 299,00 </b>
    </ion-label>

    <ion-button expand="small" shape="round" fill="clear" slot="end">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-item>

</ion-content>
