<ion-content>

  <h1 class="cad-title">
    Cadastre-se na SPERENET
  </h1>

  <!--  FORMULÁRIO -->
  <div class="div_h_center">
    
      <!-- NOME E SOBRE NOME -->
      <div class="label div_h_center">
        <ion-label class="cinzeiro">
          Nome e Sobrenome
        </ion-label>
      </div>
      <ion-card class="card_input">
        <ion-input type="text" placeholder="Informe seus nome e sobrenome"></ion-input>  
      </ion-card>

      <!-- E-MAIL -->
      <div class="label div_h_center">
        <ion-label class="cinzeiro">
          E-mail:
        </ion-label>
      </div>
      <ion-card class="card_input">
        <ion-input type="email" placeholder="Informe seu e-mail"></ion-input>  
      </ion-card>

      <!-- SENHA -->
      <div class="label div_h_center">
        <ion-label class="cinzeiro">
          Senha:
        </ion-label>
      </div>
      <ion-card class="card_input">
        <ion-input type="password" placeholder="Informe sua sanha"></ion-input>  
      </ion-card>
      
      <!-- CONFIRMAR SENHA -->
      <div class="label div_h_center">
        <ion-label class="cinzeiro">
          Confirmar senha:
        </ion-label>
      </div>
      <ion-card class="card_input">
        <ion-input type="password" placeholder="Confirme sua senha"></ion-input>  
      </ion-card>

      <!-- ENDEREÇO -->
      <hr>

      <!-- CEP -->
      <div class="label div_h_center">
        <ion-label class="cinzeiro">
          CEP:
        </ion-label>
      </div>
      <ion-card class="card_input">
        <ion-input type="text" placeholder="Informe seu CEP" inputmode="decimal"></ion-input>  
      </ion-card>

      <!-- PAIS -->
      <div class="label div_h_center">
        <ion-label class="cinzeiro">
          Pais:
        </ion-label>
      </div>
      <ion-card class="card_input">
        <ion-input type="text" placeholder="Informe seu país"></ion-input>  
      </ion-card>

      <!-- ESTADO -->
      <div class="label div_h_center">
        <ion-label class="cinzeiro">
          Estado:
        </ion-label>
      </div>
      <ion-card class="card_input">
        <ion-input type="text" placeholder="Informe seu estado"></ion-input>  
      </ion-card>

      <!-- CIDADE -->
      <div class="label div_h_center">
        <ion-label class="cinzeiro">
          Cidade:
        </ion-label>
      </div>
      <ion-card class="card_input">
        <ion-input type="text" placeholder="Informe sua cidade"></ion-input>  
      </ion-card>

      <!-- BAIRRO -->
      <div class="label div_h_center">
        <ion-label class="cinzeiro">
          Bairro:
        </ion-label>
      </div>
      <ion-card class="card_input">
        <ion-input type="text" placeholder="Informe seu bairro"></ion-input>  
      </ion-card>

      <!-- RUA -->
      <div class="label div_h_center">
        <ion-label class="cinzeiro">
          Rua:
        </ion-label>
      </div>
      <ion-card class="card_input">
        <ion-input type="text" placeholder="Informe seu rua"></ion-input>  
      </ion-card>

      <!-- NUMERO DA CASA -->
      <div class="label div_h_center">
        <ion-label class="cinzeiro">
          Nº:
        </ion-label>
      </div>
      <ion-card class="card_input">
        <ion-input type="text" placeholder="Informe o número da rua" inputmode="numeric">
        </ion-input>  
      </ion-card>

  </div>

  <div class="div_h_center">
    <ion-row>

      <ion-col size="6">
        <ion-button routerLink="/tabs/tab1" expand="block" class="btn_login">
          CADATRER-SE
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button routerLink="/login" expand="block" class="btn_nav_cadastro" fill="outline">
          LOGIN
        </ion-button>
      </ion-col>

    </ion-row>
  </div>
</ion-content>
