ion-title{
    --color: #92949c;
    text-align: center;
    font-weight: bold;
}
.img-capa-produto{
    width: 80%;
    height: 200;
    margin-left: auto;
    margin-right: auto;
}
.green{
    color: green;
}
.comprar{
    --border-radius: 0;
}
.bg-green{
    --background: green;
}
.cinzeiro{
    color: #626469;
    --color: #626469;
}
.preco{
    color: #fff;
    font-size: 20pt;
}
.justfy{
    margin-left: 10px;
    color: #fff;
}
h2.justfy{
    color: #aaa;
}
.desc-product{
    color: #fff;
}
.name-config b{
    color: #fff;
}

// COMENTARIOS
.item-coment{
    --background: #92949c;
    --min-height: 150px;
}
.item-coment  h3{
    color: #fff;
    font-weight: bold;
    font-size: 14pt;
}
.item-coment > ion-label{
    text-overflow: unset;
    white-space: unset;
    display: inline-block;
}
.item-coment  p{
    color: #fff;
}
.item-estrelas{
    color: #ddd;
    width: 80px;
    font-size: 8pt;
}
.item-coment ion-avatar{
    width: 70px;
    height: 70px;
}
.res{
    margin-left: 20px;
}
.produto-estrelas{
    color: #ddd;
    font-size: 18pt;
}