<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="ft"></ion-menu-button>
    </ion-buttons>
    <ion-title>Nome de Produto</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/carrinho">
        <b><ion-icon slot="end" name="cart-outline"></ion-icon></b>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="img-capa-produto">
    <img src="../../../assets/pc-1.png" alt="">
  </div>
</ion-content>
