<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Nome de Produto</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/carrinho">
        <b><ion-icon slot="end" name="cart-outline"></ion-icon></b>
      </ion-button>
  </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- APRESENTAÇÃO DO PRODUTO -->
  <div class="img-capa-produto">
    <img src="../../../assets/pc-1.png" alt="" height="300">
  </div>

  <h1>  
    <ion-row>
      <ion-col size="6">
        <div class="produto-estrelas">
          <ion-icon slot="start" name="star"></ion-icon>
          <ion-icon slot="start" name="star"></ion-icon>
          <ion-icon slot="start" name="star"></ion-icon>
          <ion-icon slot="start" name="star-outline"></ion-icon>
          <ion-icon slot="start" name="star-outline"></ion-icon>
        </div>
        <b class="preco">
          R$ 3.999,00
        </b>
        <br>
        <small class="cinzeiro">
          <b>10x de 499,00</b>
        </small>

      </ion-col>

      <ion-col size="2">
        <ion-icon name="cart" style="font-size: 25px;"></ion-icon>
      </ion-col>

      <ion-col size="2">
        <ion-icon name="heart" style="font-size: 25px;"></ion-icon>
      </ion-col>
      <ion-col size="2">

        <ion-icon name="share-social" style="font-size: 25px;"></ion-icon>
      </ion-col>
    </ion-row>
  </h1>

  <ion-button expand="block" class="bg-green" routerLink="/informar-dados">
      comprar
  </ion-button>

  <hr style="background-color: rgb(78, 78, 78);">

  <!-- SEÇÃO DA DESCRIÇÃO -->
  <h2 class="justfy">Descrição</h2>

  <p class="justfy">
    Desenvolvido por: Tal <br>
    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their
  </p>

  <hr style="background-color: rgb(78, 78, 78);">

  <!-- SEÇÃO DE ESPECIFICAÇÕES -->
  <h2 class="justfy">Especificações</h2>

    <div class="justfy">
      • Memoria RAM: <b>65 GB</b>
    </div>
    <div class="justfy">
      • HD: <b>8 TB</b>
    </div>
    <div class="justfy">
      • Placa de Video: <b>RTX 9080</b>
    </div>
    <div class="justfy">
      • Processador: <b>INTEL CELERON 2000R7 7GH`z</b>
    </div>
    <div class="justfy">
      • Sistema Operacional: <b>Linux 1</b>
    </div>

    <hr style="background-color: rgb(78, 78, 78);">

    <h2 class="justfy">Avavliações</h2>

    <!-- ITEM DE COMENTARIO -->
    <div class="item-coment">

      <ion-row>
        <!-- FOTO DE PERFIL -->
        <ion-col size="3">
          <ion-avatar>
            <img src="https://instagram.fssa7-1.fna.fbcdn.net/v/t51.2885-15/e35/81227219_2245372302423643_1837338915438276816_n.jpg?tp=1&_nc_ht=instagram.fssa7-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=IO1Pm_EWM_8AX_yuZ94&ccb=7-4&oh=90f4ee388116a146b36167903e7711c6&oe=60892C69&_nc_sid=4f375e" />
          </ion-avatar>
        </ion-col>

        <!-- NOME E AVALIAÇÃO -->
          <ion-col size="9">
            <ion-label>
              <h3>Ciclano</h3>
              <div class="item-estrelas">
                <ion-icon slot="start" name="star"></ion-icon>
                <ion-icon slot="start" name="star"></ion-icon>
                <ion-icon slot="start" name="star"></ion-icon>
                <ion-icon slot="start" name="star"></ion-icon>
                <ion-icon slot="start" name="star"></ion-icon>
              </div>
            </ion-label>

             <!-- COMENTARIO -->
             <p>Que? Que?Que?Que?Que?Que?Que?Que?Que?Que?Que?Que?Que? Que?Que?Que?Que?Que?Que?Que?Que?Que?Que?Que?Que?</p>
             
            <!-- CURTIDAS/RESPOSTAS -->
            <ion-icon class="cinzeiro" name="heart-outline"></ion-icon>
            <a href="#" (click)="$event.preventDefault()" 
            class="cinzeiro res">responder</a>
          </ion-col>
         
      </ion-row>

    </div>

    <div style="margin-bottom: 30px;"></div>
</ion-content>
