<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="ft"></ion-menu-button>
    </ion-buttons>
    <ion-title>Nome de Produto</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/carrinho">
        <b><ion-icon slot="end" name="cart-outline"></ion-icon></b>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="img-capa-produto">
    <img src="../../../assets/pc-1.png" alt="" height="300">
  </div>

  <!-- <hr style="background-color: rgb(78, 78, 78);"> -->

  <h1>  
    <ion-row>
      <ion-col size="6">
        <b class="preco">
          R$ 3.999,00
        </b>
        <br>
        <small class="cinzeiro">
          <b>10x de 499,00</b>
        </small>

      </ion-col>

      <ion-col size="2">
        <ion-icon name="cart" style="font-size: 25px;"></ion-icon>
      </ion-col>

      <ion-col size="2">
        <ion-icon name="heart" style="font-size: 25px;"></ion-icon>
      </ion-col>
      <ion-col size="2">

        <ion-icon name="share-social" style="font-size: 25px;"></ion-icon>
      </ion-col>
    </ion-row>
  </h1>

  <ion-button expand="block" class="bg-green">
      comprar
  </ion-button>

  <hr style="background-color: rgb(78, 78, 78);">

  <h2 class="justfy">Descrição</h2>

  <p class="justfy">
    Desenvolvido por: Tal <br>
    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their
  </p>

  <hr style="background-color: rgb(78, 78, 78);">

  <h2 class="justfy">Especificações</h2>

    <div class="justfy">
      • Memoria RAM: <b>65 GB</b>
    </div>
    <div class="justfy">
      • HD: <b>8 TB</b>
    </div>
    <div class="justfy">
      • Placa de Video: <b>RTX 9080</b>
    </div>
    <div class="justfy">
      • Processador: <b>INTEL CELERON 2000R7 7GH`z</b>
    </div>
    <div class="justfy">
      • Sistema Operacional: <b>Linux 1</b>
    </div>

    <div style="margin-bottom: 30px;"></div>
</ion-content>
